@media (max-width: 699px) and (min-width: 520px) {
  @viewport {
    width: 640px;
  }
}

div.links {
	display: inline-block;
}

div.button1 {
	display: inline-block;
}

div.button2 {
	display: inline-block;
}

a {
	display: block;
	height: 100%;
}

.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}

.row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
	padding-right: 0;
	padding-left: 0;
}

body {
	background-color: #000000;
}

.info {
	background-image: url('../images/this_is_fine_bg.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.about {
	background-image: url('../images/about.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.thesis {
	background-image: url('../images/senior_design_bg.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.projects {
	background-image: url('../images/repair_bobblehead_bg.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.faq {
	background-image: url('../images/esplanade_bg.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
}

.buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
-webkit-filter: drop-shadow(0px 2px 2px #222);
	filter: drop-shadow(0px 2px 2px #222);
	overflow: visible;
	white-space: nowrap;
}

.all-links {
	text-align: center;
}

.left-logo {
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
-webkit-filter: drop-shadow(0px 2px 2px #222);
  filter: drop-shadow(0px 2px 2px #222);
}

.right-logo {
	position: absolute;
	right: 20px;
	margin-top: 20px;
	height: 150px;
-webkit-filter: drop-shadow(0px 2px 2px #222);
  filter: drop-shadow(0px 2px 2px #222);
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	font-family: 'Quicksand', sans-serif;
	font-size: 57px;
	color: #FFFFFF;
	text-shadow:  0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
overflow: hidden;
    white-space: nowrap;
}

.noscriptmsg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 57px;
	color: #FFFFFF;
	text-shadow:  0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 15px 15px rgba(0,0,0,.15);
overflow: hidden;
    white-space: nowrap;
}

p {
	font-family: 'Quicksand', sans-serif;
	font-size: 23px;
	color: #FFFFFF;
       	text-shadow:   0 3px 1px rgba(0,0,0,.1),
	       0 0 3px rgba(0,0,0,.1),
	       0 1px 2px rgba(0,0,0,.3),
	       0 2px 3px rgba(0,0,0,.2),
	       0 3px 5px rgba(0,0,0,.25),
	       0 5px 5px rgba(0,0,0,.2),
	       0 7px 7px rgba(0,0,0,.15);
}

.links {
	position: relative;
	overflow:visible;
}
