{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/faq_formatting.css') }}">
<div class="pagecontainer">
        <img src="{{ url_for('static', filename='images/faq_bg.png') }}" class="bg">
        <div class="animsition">
                <div class="left-logo">
                        <a href="{{ url_for('homepage') }}">
                                <img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
                        </a>
                </div>
                <div class="right-logo">
                        <a href="{{ url_for('homepage') }}">
                                <img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
                        </a>
                </div>
		<div class="text">
			<h1>FAQ</h1>
			<br>
			<br>
			<p>
				<b>Q1: Did you program before coming to college?</b>
				<br>
				A1: No, my high school didn't even have engineering classes until AFTER I graduated.
				I never was introduced to it before college so I never explored it on my own time.
				(Explore Engineering 2011 at UConn doesn't count, the CSE department wasn't showcased
				very well.)
				<br>
				<br>
				<b>Q2: What made you choose CSE/Engineering then?</b>
				<br>
				A2: I came to UConn as a mechanical engineer but switched out February of my second
				semester. CSE seemed like a more rewarding albeit a more challenging field. I'm not
				sure if it actually is, I didn't feel like sticking around the ME department long
				enough to find out. I only picked that department because they advertised it as what
				the Mythbusters do. Engineering I figured would be a good fit for me since I enjoy
				math and science.
				<br>
				<br>
				<b>Q3: What's your favorite language?</b>
				<br>
				A3: Python. I have the most fun programming in it whether it's making Flask apps
				like this website or quickly whipping up scripts to do otherwise tedious automation 
				tasks at my job like automatically mirroring git repositories or pruning continous integration
				packages from a server.
				<br>
				<br>
				<b>Q4: Emacs or Vi?</b>
				<br>
				A4: I'm not telling you which because I know better than to start a flame war over
				which is the superior editor. I use both since it's good to know both, but I prefer
				one over the other.
				<br>
				<br>
				<b>Q5: Have you ever been to a UConn basketball game?</b>
				<br>
				A5: No, I didn't have time for that. I did at least watch the 2014 final match between
				UConn and Kentucky on my laptop from the comfort of my own dorm room... and then I got
				to watch the ensuing chaos from one of the study lounges as literally thousands of people
				came pouring out of Gampel screaming and more came running from their dorms.
				<br>
				<br>
				<b>Q6: Why was your thesis 3 semesters long?</b>
				<br>
				A6: I was a University Scholar, which means I worked on a massive thesis as an undergrad (compared to the 1-semester long
				thesis that a regular Honors Scholar would do). There were only 28 of us for my graduating class. We all 
				worked on <a href="http://universityscholars.uconn.edu/2015-university-scholars/">some interesting projects</a>, 
				which would never have fit into a single semester.
				<br>
				<br>
			</p>
		</div>
	</div>
</div>
{% endblock %}
