{% extends "layout.html" %}
{% block body %}		
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_formatting.css') }}">
<div class="pagecontainer">
	<div class="animsition">
		<div class="row no-gutters">
			<div class="col-md-6">
				<div class="left-logo">
					<a href="{{ url_for('homepage') }}">
						<img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
					</a>
				</div>
				<div class="about">
					<h1>About Me</h1>
						<a href="{{ url_for('about') }}" class="animsition-link"> </a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="right-logo">
						<a href="{{ url_for('homepage') }}">
							<img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
						</a>
					</div>
					<div class="info">
						<div class="buttons">
							<div class="button1">
								<a href="mailto:ashley.dumaine@gmail.com" target="_top">
									<img src="{{ url_for('static', filename='images/contact.png') }}" alt="Email button">
								</a>
							</div>
							<div class="button2">
								<a target="_blank" href="https://docs.google.com/document/d/1lrP6pLUPjwFhLAeKKvDU5us7YWtKIAL_L3NoXRvXnBw/edit?usp=sharing" >
									<img src="{{ url_for('static', filename='images/resume.png') }}" alt="Link to resume button" >
								</a>
							</div>
							<br>
							<br>
							<div class="all-links">
								<div class="links" id="linkedin">
									<a target="_blank" href="https://www.linkedin.com/in/ashleydumaine">
										<img src="{{ url_for('static', filename='images/linkedin.png') }}" style="height:60px" alt="LinkedIn profile link">
									</a>
								</div>
								<div class="links" id="googleplus">
									<a target="_blank" href="https://plus.google.com/+AshleyDumaine/about">
										<img src="{{ url_for('static', filename='images/googleplus.png') }}" style="height:60px" alt="Google plus profile link">
									</a>
								</div>
								<div class="links" id="github">
									<a target="_blank" href="https://github.com/AshleyDumaine">
										<img src="{{ url_for('static', filename='images/github.png') }}" style="height:60px" alt="GitHub profile link">
									</a>
								</div>
								<div class="links" id="facebook">
									<a target="_blank" href="https://www.facebook.com/ashleydumaine">
										<img src="{{ url_for('static', filename='images/facebook.png') }}" style="height:60px" alt="Facebook profile link">
									</a>
								</div>
								<div class="links" id="twitter">
									<a target="_blank" href="https://twitter.com/_chowner_">
										<img src="{{ url_for('static', filename='images/twitter.png') }}" style="height:60px" alt="Twitter profile link">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row no-gutters">
				<div class="col-md-4">
					<div class="thesis">
						<h1>Thesis</h1>
						<a href="{{ url_for('thesis') }}" class="animsition-link"> </a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="projects">
						<h1>Projects</h1>
						<a href="{{ url_for('projects') }}" class="animsition-link"> </a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="faq">
						<h1>FAQ</h1>
						<a href="{{ url_for('faq') }}" class="animsition-link"> </a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
