{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/projects_formatting.css') }}">
<div class="pagecontainer">
<img src="{{ url_for('static', filename='images/projects_bg.png') }}" class="bg">
	<div class="animsition">
		<div class="left-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
			</a>
		</div>
		<div class="right-logo">
			<a href="{{ url_for('homepage') }}">
				<img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
			</a>
		</div>
		<div class="text">
			<h1>Projects</h1>
			<br>
			<br>
			<div class="para">
				<div class="icon">
				    <a target="_blank" href="https://github.com/AshleyDumaine/investogator">
					    <img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				    </a>
			    </div>
			    <p>
				    <b>Investogator</b>
				    <br>
				    A CLI tool used to query and cross-reference data on stock-tracking sites based on ETF symbols.
				    I made this when I wanted to get into investing in ETFs, but wasn't sure which ones were safe to pick
				    for each category (technology, large cap growth, health/biotech, etc). My dad (who's big on investing)
				    pointed me to a few sources for getting reviews on ETFs, but these didn't have a free API to query.
				    Thus, I ended up leveraging BeautifulSoup to get the data I wanted so I wouldn't have to spend hours
				    checking dozens of ETF symbols across multiple sites.
				    <br>
				    <br>
				    <br>
			    </p>
				<div class="icon">
				    <a target="_blank" href="https://github.com/AshleyDumaine/My-AIY">
					    <img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				    </a>
			    </div>
			    <p>
				    <b>My-AIY</b>
				    <br>
				    This is the code I'm using on my Google AIY kit. Before I had a Google Home mini, I wanted
				    to make my own with this kit. Interestingly, the AIY kit does not seem to have Google Music
				    functionality built-in so this repo contains logic to get that working (albeit not perfectly).
				    Additionally, this contains the logic and notes to get this working with a Bluetooth speaker
				    instead of the AIY's.
				    <br>
				    <br>
				    <br>
			    </p>
				<div class="icon">
				    <a target="_blank" href="https://github.com/AshleyDumaine/my-website">
					    <img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				    </a>
			    </div>
			    <p>
				    <b>My website (this one)</b>
				    <br>
				    Originally just a collection of HTML, CSS, and pngs, but refactored into a Flask app.
				    <br>
				    <br>
				    <br>
			    </p>
				<div class="icon">
					<a target="_blank" href="https://www.overleaf.com/read/jwfjnhxrnfhn">
						<img src="{{ url_for('static', filename='images/overleaf.png') }}" style="height:50px">
					</a>
					<br>
					<a target="_blank" href="https://docs.google.com/presentation/d/1suuOp2RU7LBtw1Z7j7q21rSZ86Lg3kxbtu_AaUK9MsY/edit?usp=sharing">
						<img src="{{ url_for('static', filename='images/drive.png') }}" style="height:50px" alt="Senior Design Poster"> 
					</a>
				</div>
				<p>
					<b>Wireless Electroencephalographic Device Incorporation Into Gameplay: Senior Design Project</b>
					<br>
					Developing a new paradigm of gaming in which a user can use their mind with the aid of a wireless EEG to play a video game. The gameplay will be intuitive and button-free as the game will utilize the user's movements, focused thoughts, and mood using a Kinect One and Emotiv EPOC+ to interact with the game world.
					<br>
					<br>
					<br>
				</p>
				<p>
					<b>Automated Cluster Whack-a-mole: Google SWE/SRE internship</b>
					<br>
					Worked on the Tech Infrastructure team to create a new automated implementation
					of a program meant to find poor performing tasks/allocations in a cluster and
					transfer those tasks/allocations onto other available machines.
					<br>
					<br>
					<br>
				</p>
				<div class="icon">
					<a target="_blank" href="https://drive.google.com/file/d/0B9dEGlz9p93MckhVU2Jza3JQRTg/view?usp=sharing">
						<img src="{{ url_for('static', filename='images/drive.png') }}" style="height:50px" alt="Fall Frontiers Poster"> 
					</a>
				</div>
				<p>
					<b>Machine Learning Algorithms and Pattern Recognition for Brain-Computer 
Interfaces: Part of my thesis</b>
					<br>
					Used machine learning algorithms such as artificial neural networks (ANNs) and support vector machines (SVMs) to classify raw EEG data as different facial expressions by training multi-class SVMs and multithreaded ANNs on UConn's HORNET cluster.
					<br>
					<br>
					<br>
				</p>
			</div>
			<div class="icon">
				<a target="_blank" href="https://github.com/AshleyDumaine/ScienceBowlScorecard">
					<img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				</a>
			</div>
			<p>
				<b>Science Bowl Scorecard: (Volunteer) side project</b>
				<br>
				Proposed an iOS app to eliminate the need for paper scorekeeping of the annual Northeast 
				Science Bowl and the need for volunteers called "runners" to deliver blank and completed 
				score sheets to multiple rooms for each of the many rounds throughout the day to several 
				buildings used to host the Science Bowl
				<br>
				<br>
				<br>

			</p>
			<div class="icon">
				<a target="_blank" href="https://github.com/AshleyDumaine/Emotiv-JSON-API">
					<img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				</a>
			</div>
			<p>
				<b>Emotiv-JSON API: Part of my thesis</b>
				<br>
				Created a Java program to transmit Emotiv EEG data in JSON format over a socket
				connection to more easily control programs and devices with the Emotiv EPOC/EPOC+.
				<br>
				<br>
				<br>

			</p>
			<div class="icon">
				<a target="_blank" href="https://github.com/AshleyDumaine/MindControlledUAV">
					<img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				</a>
				<br>
				<a target="_blank" href="https://www.youtube.com/watch?v=X8jemlFtgBs">
					<img src="{{ url_for('static', filename='images/youtube.png') }}" style="height:50px">
				</a>
			</div>
			<p>
				<b>Mind-Controlled UAV: Independent study project</b>
				<br>
				Used my Emotiv-JSON API to create a program that uses EPOC/EPOC+ EEG data to control
				an A.R. Parrot Drone 2.0.
				<br>
				<br>
				<br>
				<b>Virtual Scanner: VoTeR Lab</b>
				<br>
				Developed a GUI tool in the form of a virtual scanner to scan once, store, and load virtual ballots in order to prevent the wear and tear of repeatedly physically scanning in ballots. This is a component of software meant to perform vote tallying for paper ballots.
				<br>
				<br>
				<br>
				<b>Name Your Own Price App (YOOP): H.H. Brown Shoe Co. internship</b>
				<br>
				Developed multiple algorithms for predicting shoes that users will like based on a series of questions and previous user feedback. This was for an e-commerce iOS native application for purchasing shoes.
				<br>
				<br>
				<br>
			</p>
			<div class="icon">
				<a target="_blank" href="https://github.com/AshleyDumaine/EmoJArduino">
					<img src="{{ url_for('static', filename='images/github.png') }}" style="height:50px">
				</a>
			</div>
			<p>
				<b>EmoJArduino: Independent side project</b>
				<br>
				Created a program that allows an Arduino to be controlled using the Emotiv-JSON API
				and an EPOC/EPOC+.
				<br>
				<br>
				<br>
				<b>Arduino Laser Harp: Honors conversion</b>
				Created a working laser harp where each beam when broken would play a different note using photoresistors, lasers, an Arduino, and the Java MIDI API.
			</p>
		</div>
	</div>
</div>
{% endblock %}
