{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/thesis_formatting.css') }}">
<div class="pagecontainer">
	<img src="{{ url_for('static', filename='images/thesis_bg.png') }}" class="bg">
		<div class="animsition">
			<div class="left-logo">
				<a href="{{ url_for('homepage') }}">
					<img src="{{ url_for('static', filename='images/left_logo.png') }}" style="height:100px">
				</a>
			</div>
			<div class="right-logo">
				<a href="{{ url_for('homepage') }}">
					<img src="{{ url_for('static', filename='images/right_logo.png') }}" style="height:80px">
				</a>
			</div>
			<div class="text">
				<h1>Thesis</h1>
				<br>
				<br>
				<div class="title">
					<p>
						<b>Thesis Title</b>
						<br>
						"A General Protocol and Application Programming Interface for<br>
						Wireless Electroencephalographic Communication Systems"
						<br>
						<br>
					</p>
				</div>
				<div class="summary">
					<p>
						<b>Summary</b>
						<br>
						Electroencephalographs (EEGs) are input devices available as commercial wireless headsets
						that are capable of picking up signals associated with facial expressions, emotions or even
						focused thoughts. These could be used by physically impaired people (e.g., paraplegics or
						victims of ALS) to control prostheses or wheelchairs, restore mobility, and increase
						independence. Yet, high-level and reusable protocols to program and control these EEGs are
						seriously lacking and impeding the development of sophisticated modular control applications.
						The objective of this project is to fill this void and demonstrate the flexibility of such
						protocols and APIs through a mind-controlled UAV project.
						<br>
					</p>
				</div>
			</div>
			<div class="all-links">
			    <div class="col-md-4">
					<h3>Papers</h3>
					<br>
					<br>
					<br>
				    <div class="links" id="proposal">
					    <a target="_blank" href="https://docs.google.com/document/d/1TnFL982OkyV8JVWAo9lONIhBm9KCVeAjSphPGC1Wnhk/edit?usp=sharing">
						    <img src="{{ url_for('static', filename='images/drive.png') }}" style="height:60px" alt="University Scholar proposal"> 
					    </a>
					    <br>
					    <br>
					    <p>University Scholar<br>Project Proposal</p>
					    <br>
					    <br>
					    <br>
				    </div>
				    <div class="links" id="thesis">
					    <a target="_blank" href="https://www.overleaf.com/read/ytsthmpbgdjs">
						    <img src="{{ url_for('static', filename='images/overleaf.png') }}" style="height:60px" alt="University Scholar thesis paper"> 
					    </a>
					    <br>
					    <br>
					    <p>University / Honors Scholar<br>Thesis Paper</p>
					    <br>
					    <br>
					    <br>
				    </div>
			    </div>
			    <div class="col-md-4">
					<h3>Code</h3>
					<br>
					<br>
					<br>
				    <div class="links" id="mind-controlled-uav">
					    <a target="_blank" href="https://github.com/AshleyDumaine/MindControlledUAV">
						    <img src="{{ url_for('static', filename='images/github.png') }}" style="height:60px" alt="Mind-Controlled UAV repo"> 
					    </a>
					    <br>
					    <br>
					    <p>Mind-Controlled UAV<br>Project</p>
					    <br>
					    <br>
					    <br>
				    </div>
				    <div class="links" id="emotiv-json-api">
					    <a target="_blank" href="https://github.com/AshleyDumaine/Emotiv-JSON-API">
						    <img src="{{ url_for('static', filename='images/github.png') }}" style="height:60px" alt="Emotiv-JSON API repo"> 
					    </a>
					    <br>
					    <br>
					    <p>Emotiv-JSON API</p>
					    <br>
					    <br>
					    <br>
				    </div>
				    <div class="links" id="emotiv-encogML">
					    <a target="_blank" href="https://github.com/AshleyDumaine/Emotiv-EncogML">
					    	<img src="{{ url_for('static', filename='images/github.png') }}" style="height:60px" alt="Emotiv-EncogML repo"> 
				    	</a>
				    	<br>
				    	<br>
				    	<p>BCI Data Pattern Recogntion<br> and Machine Learning with Encog</p>
				    	<br>
				    	<br>
				    	<br>
				    </div>
				</div>
				<div class="col-md-4">
					<h3>Presentations</h3><br><br><br>
				    <div class="links" id="machine-learning-component">
				    	<a target="_blank" href="https://drive.google.com/file/d/0B9dEGlz9p93MckhVU2Jza3JQRTg/view?usp=sharing">
				    		<img src="{{ url_for('static', filename='images/drive.png') }}" style="height:60px" alt="Fall Frontiers Poster"> 
				    	</a>
				    	<br>
				    	<br>
				    	<p>Machine Learning Component<br>(Fall Frontiers Poster)</p>
				    	<br>
			    		<br>
			    		<br>
			    	</div>
			    	<div class="links" id="mind-controlled-game">
			    		<a target="_blank" href="https://docs.google.com/presentation/d/1suuOp2RU7LBtw1Z7j7q21rSZ86Lg3kxbtu_AaUK9MsY/edit?usp=sharing">
		    				<img src="{{ url_for('static', filename='images/drive.png') }}" style="height:60px" alt="Senior Design Poster"> 
		    			</a>
		    			<br>
		    			<br>
		    			<p>Incorporation of the Emotiv-JSON<br>API into a Unity game<br>(Senior Design Poster)</p>
		    			<br>
		    			<br>
		    			<br>
		    		</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
